<div class="col s6" >
    <div class="container">
        <h5>Bienvenido al módulo de ventas</h5>
        <div class="collection">
            <a href="ventas/listar-info-financiera" class="collection-item" >Información financiera de los clientes</a>
            <a href="ventas/listar-info-personal" class="collection-item">Información personal de los clientes</a>
            <a href="ventas/listar-registro-pago" class="collection-item">Registros de pago</a>
            <a href="ventas/listar-solicitud" class="collection-item">Solicitudes de estudio</a>
        </div>
    </div>

</div>