.collection-item{
    color:white;
    border-color: crimson;
    border: outset;
    margin-top: 0.5%;
    padding: 1%;
    font-weight: bold;
}

.collection{
    margin: 5%;
    margin-top: 10px;
}

h5{
    text-align: center;

}
