<form action="">
    <h3>Eliminar registro</h3>
    <p>Está seguro de querer eliminar los siguientes datos:</p>
    <ul>
        <li *ngFor="let d of listaDatos">
            {{d}}
        </li>
    </ul>
    <button class="btn red waves-effect waves-light" type="button" (click)="EliminarRegistro()" name="action">Eliminar Definitivamente
        <i class="material-icons right">delete</i>
    </button>
    &nbsp;&nbsp;
    <a class="waves-effect blue waves-light btn" routerLink="/parametros/listar-bloques"><i class="material-icons left">cancel</i>Cancelar</a>       
</form>
<br />