<br />
<a id="agregar" class="waves-effect waves-light btn" routerLink="/parametros/crear-proyecto"><i
        class="material-icons left">add</i>Agregar</a>

<table class="table responsive-table">
    <thead>
        <tr class="tituloLista">
            <th class="sub">
                Id
            </th>
            <th class="sub">
                Nombre
            </th>
            <th class="sub">
                Descripcion
            </th>
            <th class="sub">
                Imagen
            </th>
            <th class="sub">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listaRegistros | paginate: {itemsPerPage: regPorPagina, currentPage: pagina}">
            <th>
                {{r.id}}
            </th>
            <th>
                {{r.nombre}}
            </th>
            <th>
                {{r.descripcion}}
            </th>
            <th>
                {{r.imagen}}
            </th>
            <th>
                <a class="waves-effect orange waves-light btn" routerLink="/parametros/editar-proyecto/{{r.id}}"><i
                        class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <a class="waves-effect red waves-light btn" routerLink="/parametros/eliminar-proyecto/{{r.id}}"><i
                        class="material-icons left">delete</i>Eliminar</a>
            </th>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="CambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>