<nav class="nav-extended">
  <div class="nav-wrapper">
    <a id="titulo" routerLink="/" class="brand-logo">UdeC S.A.S</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="isLoggedIn"><a href="parametros/inicio-parametrizacion">Parámetros</a></li>
      <li *ngIf="isLoggedIn"><a href="ventas/inicio-ventas">Ventas</a></li>
      <li *ngIf="isLoggedIn"><a href="informes/inicio-informes">Informes</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesión</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesión</a></li>
    </ul>
  </div>

</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="isLoggedIn"><a href="parametros/inicio-parametrizacion">Parámetros</a></li>
  <li *ngIf="isLoggedIn"><a href="ventas/inicio-ventas">Ventas</a></li>
  <li *ngIf="isLoggedIn"><a href="informes/inicio-informes">Informes</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesión</a></li>
  <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesión</a></li>
</ul>