<br />
<a class="waves-effect waves-light btn" routerLink="/parametros/crear-cliente"><i
        class="material-icons left">add</i>Agregar</a>

<table class="table responsive-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Documento
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Fotografia
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Direccion
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listaRegistros | paginate: {itemsPerPage: regPorPagina, currentPage: pagina}">
            <th>
                {{r.id}}
            </th>
            <th>
                {{r.nombre}}
            </th>
            <th>
                {{r.apellidos}}
            </th>
            <th>
                {{r.correo}}
            </th>
            <th>
                {{r.telefono}}
            </th>
            <th>
                {{r.fotografia}}
            </th>
            <th>
                {{r.fechaNacimiento}}
            </th>
            <th>
                {{r.ciudadId}}
            </th>
            <th>
                {{r.direccion}}
            </th>
            <th>
                <a class="waves-effect orange waves-light btn" routerLink="/parametros/editar-cliente/{{r.id}}"><i
                        class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <a class="waves-effect red waves-light btn" routerLink="/parametros/eliminar-cliente/{{r.id}}"><i
                        class="material-icons left">delete</i>Eliminar</a>
            </th>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="CambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>