<div class="col s6">
    <div>
        <h5>Parametrización</h5>
        <div class="collection">
            <a href="parametros/listar-paises" class="collection-item" >Países</a>
            <a href="parametros/listar-ciudades" class="collection-item">Ciudades</a>
            <a href="parametros/listar-bloques" class="collection-item">Bloques</a>
            <a href="parametros/listar-inmuebles" class="collection-item">Inmuebles</a>
            <a href="parametros/listar-clientes" class="collection-item">Clientes</a>
            <a href="parametros/listar-proyectos" class="collection-item">Proyectos</a>
            

        </div>
    </div>

</div>